.smoke {
    position: absolute;
    bottom: 0;
    right: 0;
}

.textAndPhoto {
    display: flex;
    align-items: center;
    padding: 28px 120px 3px 60px;
    position: absolute;
    gap: 175px;

    .text {
        // display: flex;
        // align-items: center;
        padding-top: 107px;

        .title {
            padding-bottom: 30px;

            p {
                min-width: 440px;
                width: 100%;
                // margin: 0;
                padding-bottom: 15px;
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #FFFFFF;
            }

            .descripton {
                span {
                    max-width: 440px;
                    width: 100%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;

                }
            }
        }

        .textBtn {
            button {
                width: 146px;
                height: 50px;
                background: #1d3db4;
                border-radius: 100px;
                border: none;

                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

            }
        }


    }




}



.mobileSmoke {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    // @media (min-width:376px) {
    //     display: none;
    // }
}

.mobileTextVsImg {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 175px;

    .mobileText {
        padding-top: 50px;

        .mobileImg{
            padding: 0 80px;
            img{
                max-width: 214px;
                width: 100%;
                height: 230px;
            }
        }
        .mobileTitle {
            padding-top: 76px;
            padding-bottom: 30px;

            p {
                padding-bottom: 15px;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                color: #FFFFFF;
            }

            .mobileDescripton {
                text-align: center;

                span {
                    padding: 0 26px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #FFFFFF;

                }
            }
        }

        .mobileTextBtn {
            padding: 0 26px 50px 26px ;
            button {
                width: 324px;
                height: 50px;
                background: #1d3db4;
                border-radius: 100px;
                border: none;

                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

            }
        }


    }




}